:root {
  --overlay-background: #0f172a;
  --line-color: hsl(0 0% 5% / 0.10)
}

.dark {
  --overlay-background: #cbd5e1;
  --line-color: hsl(0 0% 95% / 0.10)
}

.is-changing .transition-main {
  transition: transform 400ms ease-in-out;
}

.is-animating.is-leaving .transition-main {
  transform: translateY(calc(1 * 5vh * var(--overlay-direction, 1)));
}

.is-animating.is-rendering .transition-main {
  transform: translateY(calc(-1 * 5vh * var(--overlay-direction, 1)));
}


.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: var(--overlay-background);
  opacity: 0;
  transform: translate3d(0, calc(-1 * 100% * var(--overlay-direction, 1)), 0);
  pointer-events: none;
}

.is-changing .transition-overlay {
  transition: transform 400ms ease-in-out;
  opacity: 1;
}

.is-animating .transition-overlay {
  transform: translate3d(0, 0, 0);
}

.is-rendering .transition-overlay {
  transform: translate3d(0, calc(var(--overlay-direction, 1) * 100%), 0);
}

.to-back {
  /* --overlay-direction: -1; */
}

body::before {
  --line: var(--line-color);
    content: "";
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    position: fixed;
    background: linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin, linear-gradient(var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin;
    -webkit-mask: linear-gradient(-20deg, transparent 30%, white);
    mask: linear-gradient(-20deg, transparent 30%, white);
    top: 2rem;
    z-index: -1;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--line-color);
}

::-webkit-scrollbar-thumb {
  background: var(--line-color);
}