---
import Mockup from "@/components/Mockup.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Bio - Silas Rodrigues."
  description="Social media links, personal links and ways to contact me"
>
  <section class="min-h-screen py-2 sm:py-4">
    <div
      class="mx-auto mt-12 max-w-2xl px-4 text-left sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <div
        x-data="{ scrollPosition: 0 }"
        x-on:scroll.window="scrollPosition = window.pageYOffset"
        :class="{ 'translate-y-44': scrollPosition > 100, 'translate-y-full' : scrollPosition > 450 }"
        class="my-4 flex transform flex-col gap-4 transition-all duration-1000 ease-in-out sm:gap-6"
      >
        <h1
          class="text-4xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 sm:text-3xl lg:text-5xl"
        >
          Silas Rodrigues
        </h1>
        <p
          class="max-w-xl text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
        >
          Front end Developer
        </p>
        <p
          class="max-w-xl text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
        >
          Astro - React - TypeScript - Tailwind - Next.js - Node.js - MongoDB -
          Prisma
        </p>
        <Mockup prefix="$" />
      </div>
    </div>
  </section>
</Layout>

<script type="module" src="/app.js"></script>
