---
import Divider from "@/components/Divider.astro";
import Layout from "@/layouts/Layout.astro";

const currentDate = new Date();
const myBirthday = new Date("1999-04-22");
const age = currentDate.getFullYear() - myBirthday.getFullYear();

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title={t("about.layout.title")}
  description={t("about.layout.description")}
>
  <section class="min-h-screen py-16 sm:py-20">
    <div
      class="mx-auto mt-12 max-w-2xl px-4 text-left sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <div class="my-4 flex flex-col gap-4 sm:gap-6">
        <h1
          class="text-4xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 sm:text-3xl lg:text-5xl"
        >
          {t("about.presentation.title")}
        </h1>
        <p
          class="text text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
        >
          <span>{t("about.presentation.paragraph-before")}</span>
          {"\u00a0" + age + "\u00a0"}
          <span>
            {t("about.presentation.paragraph-after")}
          </span>
        </p>

        <h2
          class="text-3xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 sm:text-2xl lg:text-4xl"
        >
          {t("about.beginning.title")}
        </h2>

        <p
          class="text text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
        >
          {t("about.beginning.paragraph")}
        </p>

        <Divider />

        <h2
          class="text-3xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 sm:text-2xl lg:text-4xl"
        >
          {t("about.interests.title")}
        </h2>

        <p
          class="text text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
        >
          {t("about.interests.paragraph")}
        </p>

        <Divider />

        <h2
          class="text-3xl font-medium tracking-tight text-primary-950/70 dark:text-primary-200/70 sm:text-2xl lg:text-4xl"
        >
          {t("about.skills.title")}
        </h2>

        <div
          class="grid gap-12 text-primary-950/70 dark:text-primary-200/70 sm:grid-cols-1 md:grid-cols-2"
        >
          <div class="flex flex-col space-y-6">
            <p
              class="text text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
            >
              Backend
            </p>
            <div class="backend flex flex-wrap gap-4">
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="teenyicons:firebase-solid"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="akar-icons:node-fill"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="simple-icons:express"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="simple-icons:fastify"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="simple-icons:oracle"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="file-icons:prisma"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-width="25"
                data-height="25"
                data-icon="file-icons:php"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-width="25"
                data-height="25"
                data-icon="simple-icons:codeigniter"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="bxl:postgresql"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-width="25"
                data-height="25"
                data-icon="devicon-plain:mysql"></span>
            </div>
          </div>

          <div class="flex flex-col space-y-6">
            <p
              class="text text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
            >
              Frontend
            </p>
            <div class="frontend flex flex-wrap gap-4">
              <span
                class="iconify transition-transform hover:scale-125"
                data-width="25"
                data-height="25"
                data-icon="file-icons:nextjs"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-width="25"
                data-height="25"
                data-icon="teenyicons:react-outline"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-width="25"
                data-height="25"
                data-icon="simple-icons:astro"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="bxl:tailwind-css"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="fa6-brands:sass"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="simple-icons:chakraui"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="mdi:material-ui"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="file-icons:styledcomponents"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="mdi:language-javascript"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="mdi:language-typescript"
                data-width="25"
                data-height="25"></span>
              <span
                class="iconify transition-transform hover:scale-125"
                data-icon="bxl:jquery"
                data-width="25"
                data-height="25"></span>
            </div>
          </div>
        </div>

        <Divider />
      </div>
    </div>
  </section>
</Layout>
