---

import Testing from "../Testing.astro";

const links = [
  {
    number: '01',
    name: 'About',
    target: '/about'
  },
  {
    number: '02',
    name: 'Social',
    target: '/social'
  },
  {
    number: '03',
    name: 'Contact',
    target: '/contact'
  }
]

---

<header
  @click="open ? window.scrollTo(0, 0) : null"
   x-data="{ open: false }"
  class="transition shadow-md fixed w-full z-10"
  :class="{ 'bg-primary-500/10 dark:bg-primary-400/10 relative h-auto': open, 'bg-primary-50 dark:bg-primary-950': !(open) }"
>
  <div class="mx-auto flex max-w-2xl items-center justify-between px-4 py-4 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
    <div class="flex">
      <a 
      href="/"
      rel="noopener noreferrer"
      class="focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 rounded-md focus-visible:outline focus-visible:outline-2"
    >
        <span class="sr-only">Silas Rodrigues</span>
        <img 
          @click= "open = false"
          :class="{ 'invert': ($store.theme.isDark) }"
          class="h-8 w-auto"
          width="85" 
          height="35" 
          src="/assets/logo.svg"
          alt="Silas Rodrigues"
          loading="lazy"
          decoding="async"
        />
      </a>
    </div>
    
    <div class="-mr-2 flex items-center space-x-2 sm:space-x-3">

      <!-- <Testing user="SilasRodrigues19" repo="Portfolio" /> -->
      
      <button
        type="button"
        class='text-primary-950 dark:text-primary-200 inline-flex h-14 w-14 items-center justify-center rounded-full transition focus:outline-none'
        x-data
        @click="$store.theme.toggle()"
      >
        <span class="sr-only">Toggle theme</span>
          <svg 
            width="30" 
            height="30" 
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class='h-10 w-10 rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0 mt-2 dark:mt-0'
          >
            <image 
              xlink:href="/assets/sun.svg" 
              width="30" 
              height="30" 
            />
          </svg>

          <svg 
            width="30" 
            height="30" 
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class='h-10 w-10 absolute rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100 dark:mt-2'
          >
            <image 
              xlink:href="/assets/moon.svg" 
              width="30" 
              height="30" 
            />
          </svg>

      </button>

      <button
        type="button"
        class="text-primary-950 dark:text-primary-200 hover:bg-primary-500/10 dark:hover:bg-primary-400/10 ring-primary-950 inline-flex h-14 w-14 items-center justify-center rounded-full transition focus:outline-none focus-visible:ring-2"
        @click="open = !open"
        aria-controls="website-menu"
        aria-expanded="false"
        :aria-expanded="open.toString()"
      >
        <span class="sr-only">Toggle menu</span>

        <svg 
          x-cloak
          class="h-8 w-8 text-primary-950/70 dark:text-primary-200/70"
          :class="{ 'hidden': open, 'block': !(open) }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          aria-hidden="true"
          viewBox="0 0 24 24"
        >
          <path fill="currentColor" d="M22 18.005c0 .55-.446.995-.995.995h-8.01a.995.995 0 0 1 0-1.99h8.01c.55 0 .995.445.995.995ZM22 12c0 .55-.446.995-.995.995H2.995a.995.995 0 1 1 0-1.99h18.01c.55 0 .995.446.995.995Zm-.995-5.01a.995.995 0 0 0 0-1.99H8.995a.995.995 0 1 0 0 1.99h12.01Z"/>
        </svg>

        <svg 
          x-cloak
          class="h-8 w-8 text-primary-950/70 dark:text-primary-200/70"
          :class="{ 'block': open, 'hidden': !(open) }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          aria-hidden="true"
          viewBox="0 0 16 16"
        >
          <path fill="currentColor" fill-rule="evenodd" d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94L5.28 4.22Z" clip-rule="evenodd"/>
        </svg>

      </button>
    </div>
  </div>

  <div
    class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8"
    id="website-menu"
    x-cloak
    x-show="open"
    x-collapse
    x-collapse.duration.800ms
    x-transition.delay.50ms
  >
    <div class="grid grid-cols-1 gap-16 pb-24 pt-6 lg:grid-cols-2 lg:pt-12">
      <div
        class="hidden items-center justify-center rounded-3xl px-6 py-8 lg:flex"
      >
        <p
          class="text-primary-950/70 dark:text-primary-200/70 max-w-sm text-xl italic leading-loose"
        >
          <span class="iconify h-36 w-36" data-icon="solar:code-2-linear"></span>

      </div>

      <nav class="divide-primary-900/10 dark:divide-primary-300/10 flex flex-col gap-1 divide-y">
        {
          links.map((link) => (
            <a
              @click="open = false"
              href={link.target}
              class="text-primary-700 dark:text-primary-400 group inline-flex py-6 text-3xl font-medium tracking-tight transition focus-visible:outline-none sm:py-8 sm:text-4xl"
            >
              <div class="group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 flex flex-1 items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2">
                <div class="flex items-center gap-6">
                  <span class="text-xs text-primary-700 dark:text-primary-400 group-hover:text-primary-950 group-hover:dark:text-primary-200 group-hover:scale-150 transition-transform">{link.number}</span>
                  <span class="text-primary-700 dark:text-primary-400 group-hover:text-primary-950 group-hover:dark:text-primary-200 font-normal">{link.name}</span>
                </div>
                <svg 
                  class="text-primary-700 dark:text-primary-400 group-hover:text-primary-950 group-hover:dark:text-primary-200 h-6 w-6 sm:h-8 sm:w-8 group-hover:-translate-x-2 transition-transform"
                  xmlns="http://www.w3.org/2000/svg" 
                  width="24" 
                  height="24" 
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                >
                  <path fill="currentColor" d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z"/>
                </svg>
              </div>
            </a>
          ))
        }
      </nav>
    </div>
  </div>

</header>