---
import Layout from "@/layouts/Layout.astro";

import pdf from "/resume.pdf";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title={t("resume.layout.title")}
  description={t("resume.layout.description")}
>
  <section class="relative pb-16 sm:pb-20">
    <div
      class="mx-auto mt-12 max-w-2xl px-4 text-left sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <object data={pdf} type="application/pdf" width="1200" height="650">
        <p
          class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
        >
          {t("resume.pdf.unsupported")}
        </p>
      </object>
    </div>
  </section>
</Layout>
