---
import Layout from "@/layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentPath = Astro.url.pathname.replace(lang, "");
---

<Layout description={t("404.description")} title={t("404.title")}>
  <section class="min-h-screen py-16 sm:py-20">
    <div class="mx-auto mt-12 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div
          class="flex flex-col gap-4 text-primary-950/70 dark:text-primary-200/70 sm:gap-6"
        >
          <h1
            class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl"
          >
            404
          </h1>
          <h2
            class="text-2xl font-medium tracking-tight sm:text-3xl lg:text-4xl"
          >
            {t("404.status")}
          </h2>
          <h3
            class="text-xl font-medium tracking-tight sm:text-2xl lg:text-3xl"
          >
            {currentPath.slice(1)}
          </h3>
          <p class="text-lg sm:text-xl">
            {t("404.message")}
          </p>
        </div>
        <a
          href="/"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-primary-100 transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-500 dark:focus-visible:outline-primary-400"
        >
          {t("404.button")}
        </a>
      </div>
    </div>
  </section>
</Layout>
