---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title='Bio - Silas Rodrigues | About.'
  description='About page'
>
  <section class="bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-100 py-16 sm:py-20">
		<div class="mx-auto max-w-2xl px-4 text-left sm:px-6 lg:max-w-7xl lg:px-8 mt-12">
			<div class="flex flex-col gap-4 sm:gap-6 my-4">
				<h1 class="text-4xl font-medium tracking-tight sm:text-3xl lg:text-5xl">About page.</h1>
				<p class="text-primary-950/70 dark:text-primary-200/70  max-w-xl text-lg sm:text-xl">
					Coming soon...
				</p>
    	</div>
    </div>
  </section>
</Layout>
