---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Bio - Silas Rodrigues." description="Social media links, personal links and ways to contact me">
	<main class="bg-red-500 min-h-screen">

	</main>
</Layout>
