---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro." description="Astro Description">
	<main class="bg-red-500 min-h-screen">

	</main>
</Layout>
