---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Social network" description="my social network">
  <section class="flex items-center justify-center flex-col bg-red-500 min-h-screen py-12 sm:py-12">
		<h1 class="dark:text-primary-100 text-primary-950 [font-size:_clamp(2rem,5vw,10rem)]">Social</h1>
	</section>
</Layout>